{{ define "main" }}
<div class="home">
    <h1 class="page-heading">{{ .Title }}</h1>
    {{ .Content }}

    {{ if gt (len .Pages) 0 }}
    <ul class="post-list">
        {{ range .Pages }}
        <li>
            <div class="post-card">
                <span class="post-meta">{{ .Date.Format "Jan 2, 2006" }}</span>
                <h3>
                    <a class="post-link" href="{{ .RelPermalink }}">
                        {{ .Title }}
                    </a>
                </h3>
                {{ if .Site.Params.show_excerpts }}
                <div class="post-excerpt">{{ .Summary }}</div>
                {{ end }}
            </div>
        </li>
        {{ end }}
    </ul>
    {{ end }}
</div>
{{ end }}