{{ define "main" }}
<div class="home">
    {{ .Content }}

    {{ $posts := where .Site.RegularPages "Section" "posts" }}
    {{ if gt (len $posts) 0 }}
    <h2 class="post-list-heading">{{ default "Recent Posts" .Params.list_title }}</h2>
    <ul class="post-list">
        {{ range $posts }}
        <li>
            <div class="post-card">
                <span class="post-meta">{{ .Date.Format "Jan 2, 2006" }}</span>
                <h3>
                    <a class="post-link" href="{{ .RelPermalink }}">
                        {{ .Title }}
                    </a>
                </h3>
                {{ if .Site.Params.show_excerpts }}
                <div class="post-excerpt">{{ .Summary }}</div>
                {{ end }}
            </div>
        </li>
        {{ end }}
    </ul>
    {{ end }}
</div>
{{ end }}